.img1 {
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    opacity: 65%;
}

body {
    background-color: rgb(163, 125, 97);
    margin: 1%;
}

.title {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color: rgb(228, 210, 210);
    margin-bottom: 2%;
    font-weight: bold;
}

.title.two{
    text-align: left;
}

.desc {
    font-family: 'Courier New', Courier, monospace;
    color: rgb(109, 15, 4);
    line-height: 250%;
    font-weight: bolder;
    font-size: medium;
}

.subtitle {
    font-family: monospace;
    font-size: large;
    color:rgb(83, 80, 78)
}