.img1 {
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    opacity: 65%;
}

body {
    background-color: rgb(170, 127, 201);
    margin: 1%;
}

.title {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color: rgb(85, 7, 100);
    margin-bottom: 2%;
    font-weight: bold;
}

.title.two{
    text-align: left;
}

.desc {
    font-family: 'Courier New', Courier, monospace;
    color: rgb(39, 35, 39);
    line-height: 250%;
    font-weight: bolder;
    font-size: medium;
}

/* Zoom In */
.hover figure img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover figure:hover img {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
    border: 3px solid purple;
}
